{% extends "base.html.twig" %}
{% block body %}
<section class="flex flex-col justify-center items-center pt-11">
        <b class="border-b-2 border-black p-4">Contactez moi :</b>
        <p class="mt-4">Téléphone : 07.83.7.18.49</p>
        <p>Courriel: v.boussekeyt@ecoles-epsi.net</p>
        <div>
            <p>Lien pour mon linkedin : <a href="https://www.linkedin.com/in/vladimir-boussekeyt-13228126b/">Cliquez ici</a></p>
        </div>
    </section>
{% endblock %}