{% extends "base.html.twig" %}
{% block body %}
    <section class="flex flex-col justify-center items-center pt-11 mb-24">
        <b class="border-b-2 border-black p-4 mb-4">Mon CV</b>
        <img src="img/cv.jpg" alt="CV">
    </section>
{% endblock %}