<nav class="bg-white fixed top-0 w-full z-50 ">
        <ul class="flex flex-row justify-around pt-2 pb-2">
            <li class="pr-10">
                <a href="home">Portfolio de Vladimir Boussekeyt</a>
            </li>
            <div class="flex flex-row justify-end gap-5">
                <li>
                    <a href="home">Accueil</a>
                </li>
                <li>
                    <a href="competences">Competences</a>
                </li>
                <li>
                    <a href="certifications">Certifications</a>
                </li>
                <li>
                    <a href="excel">Documents</a>
                </li>
                <li>
                    <a href="cv">Mon cv</a>
                </li>
                <li>
                    <a href="contact">Contact</a>
                </li>
            </div>
        </ul>
    </nav>